:root {
  --color-black: #191A23;
  --color-grey: #F3F3F3;
  --color-white: #ffffff;

  --color-text: var(--color-black);

  /* font family */
  --font-family: "Inter", sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;

  /* font sizes */
  --fs--2: clamp(0.6944rem, 0.6856rem + 0.0444vw, 0.72rem);
  --fs--1: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
  --fs-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --fs-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --fs-2: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
  --fs-3: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
  --fs-4: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
  --fs-5: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);

  /* white spaces */
  --sp-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --sp-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
  --sp-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
  --sp-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --sp-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
  --sp-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
  --sp-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
  --sp-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
  --sp-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);

  /* One-up pairs */
  --sp-3xs-2xs: clamp(0.25rem, 0.1413rem + 0.5435vw, 0.5625rem);
  --sp-2xs-xs: clamp(0.5rem, 0.3696rem + 0.6522vw, 0.875rem);
  --sp-xs-s: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --sp-s-m: clamp(1rem, 0.7609rem + 1.1957vw, 1.6875rem);
  --sp-m-l: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --sp-l-xl: clamp(2rem, 1.5217rem + 2.3913vw, 3.375rem);
  --sp-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --sp-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826vw, 6.75rem);

  /* Custom pairs */
  --sp-s-l: clamp(1rem, 0.5652rem + 2.1739vw, 2.25rem);

  --max-width-page: 75rem;

  /* Border Radius */
  --border-radius: 8px;
  --border-radius-small: 4px;
  --border-radius-large: 12px;

  /* Shadows *//*echt heeeeeel lelijke schaduw*/
  --box-shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0px 6px 12px rgba(0, 0, 0, 0.2);

  /* Transitions */
  --transition-duration: 0.3s;
  --transition-ease: ease-in-out;
}



html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-0);
  line-height: 1.5;
  color: var(--color-text);
}

.app {
  height: 100dvh;
  padding: var(--sp-s);

  display: grid;
  grid-template-columns: 25vw 1fr;
  grid-template-rows: 20vh 1fr;
  gap: var(--sp-xs);

  grid-template-areas:
    "orders orders"
    "clients tables";
}

.dashboard {
  background-color: var(--color-grey);
  border-radius: var(--border-radius);
}

.clients {
  grid-area: clients;
}

.tables {
  grid-area: tables;
}

.orders {
  grid-area: orders;
}

.clientdetail {
  grid-area: clients;
}

h2 {
  font-weight: bold;
}

/* ----------------------------------------------- */
.hidden {
  display: none;
}